.qr-code-video{
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    height: 100%;
}
.teun {
    width: 107% !important;
    max-width: 107% !important;
}
.damhuis {
    max-width: 80% !important;
}
.imani {
    max-width: 80% !important;
}
